@import "../../assets/colors.scss";
.app_footer {
  margin-top: 20vh;
  height: 20vh;
  background: linear-gradient(to right, #f96039, #765578);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_heart {
  width: 100px;
  height: 100px;
  background-image: url("/assets/heart.png");
  background-repeat: no-repeat;
  background-position: center;
}
