@import "../../../assets/colors.scss";

.big_card_image {
  height: inherit;
}
.img_container {
  display: flex;
  justify-content: center;
}
.p_desc {
  border-top: 1px solid $base-grey;
  padding-bottom: 4em;
  padding-top: 4em;
  color: $base-grey;
  font-size: 1.25em;
  border-bottom: 1px solid $base-grey;
}
.mot {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0) 10%,
      rgb(255, 255, 255) 95%
    ),
    url("/assets/1_land_home.jpeg");
}
.learn_button {
  background-color: #972d42;
  height: 40px;
  width: 200px;
  margin: 20px;
  margin-top: 70px;
  text-align: center;
}
.button_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
