<div class="title_wrapper">
  <div>

    <div class="title_header">
      <h1 sticky-bit>Lukas Hoover</h1>
      <h2>Developer</h2>
    </div>
  </div>
</div>


<div class="title_version">
  <div class="title_circle">
    <h3>V 2.0</h3>
    <hr class="home_tiny_spacer" />
    <h3>Now with 100% more Angular!</h3>
  </div>
</div>
<div
  style="position: absolute; top: 0; bottom: 0; right: 0; left:0; height: 100vh; width:99vw"
></div>

<app-desc-card [card]="card_1"></app-desc-card>

<app-desc-card [card]="card_2"></app-desc-card>

<app-desc-card [card]="card_3"></app-desc-card>
